/* GLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    color: black;
}
.clear {
    clear: both;
}

/* HEADER  */
.header {
    padding: 10px;
    background-color: white;
}
.header__top, .header__bottom {
    margin:auto;
    width: 80%;
}
.header__top img {
    width: 50px;
    position: relative;
}
.header__top span {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.header ul {
    list-style: none;
    margin-top: 10px ;
}
.header ul li {
    display: inline;
    margin-left: 20px;
}
.header ul li a {
    text-decoration: none;
    color: black;
}
.header ul li a:hover {
    color: gray;
}

/* CAROUSEL  */
.carousel {
    background: url('../img/2.jpg');
    background-color: white;
    height: 520px;
    background-position: top;
    background-size: cover;
    margin: 10px 0 50px;
}

/* INFOR  */
.infor {
    width: 80%;
    margin: auto;
}
.infor__left, .infor__right {
    float: left;
    width: 50%;
    padding: 10px;
}
.infor__left .infor__card h3 {
    font-size: 24px;
}
.infor__left .infor__card p {
    margin: 20px 0;
    color: gray;
}
.infor__left .infor__card button {
    padding: 15px 30px;
    font-weight: bold;
    background-color: #fdc800;
    border-radius: 5px;
    border: none;
}
.infor__left .infor__card button:hover {
    cursor: pointer;
}
.infor__right img {
    width: 100%;
}

/* ACHIEVEMENT  */
.achievement {
    margin: 30px 0;
    padding: 50px;
    background-color: #f6f6f6;
    color: black;
}
.achievement__item {
    float: left;
    width: 25%;
    padding-left: 80px;
}
.achievement__number, .achievement__title {
    float: left;
}
.achievement__number h3 {
    font-size: 40px;
}
.achievement__title p {
    font-size: 15px;
    margin-top: 5px;
    padding-left: 5px;
    line-height: 18px;
}

/* SERVICES  */
.services {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.services__item {
    float: left;
    width: 25%;
    padding: 10px;
}
.services__card {
    text-align: center;
    padding: 0 0 30px 0;
    color: white;
    background-color: #002146;
    border-radius: 5px;
}
.services__card:hover {
    cursor: pointer;
}
.services__card i {
    font-size: 30px;
    margin-top: 30px;
}
.services__card h4 {
    margin-top: 20px;
    font-weight: normal;
}

/* POST  */
.post {
    background-color: #f6f6f6;
    padding: 80px 0;
}
.post__main {
    margin: auto;
    width: 80%;
}
.post__main .post__left h2, .post__main .post__right h2 {
    margin-bottom: 30px;
}
.post__main button {
    float: right;
    padding: 15px 30px;
    font-weight: bold;
    background-color: #fdc800;
    border-radius: 5px;
    border: none;
}
.post__main button:hover {
    cursor: pointer;
}
.post__left, .post__right {
    float: left;
    width: 50%;
    padding: 15px;
}
.post__left button, .post__right button {
    float: right;
    padding: 15px 30px;
    font-weight: bold;
    background-color: #fdc800;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}
.post__card .card__right .card__time {
    color: #8c8c8c;
    margin: 8px 0;
}
.post__card .card__right .card__time, .post__card .card__right p {
    font-size: 14px;
}
.post__left .post__item {
    background-color: white;
}
.post__left .post__item hr {
    margin: 15px auto 15px;
    width: 95%;
}
.post__item .post__card .card__left {
    float: left;
    width: 30%;
    padding: 10px;
}
.post__item .post__card .card__right {
    float: left;
    width: 70%;
    padding: 8px;
}
.post__item .post__card .card__left img {
    width: 100%;
    border-radius: 5px;
}
.event__card .card__left {
    text-align: center;
    float: left;
    width: 25%;
    padding: 10px 10px 30px 10px;
}
.event__card .card__left .card__top {
    background-color: #fdc800;
    padding: 9px 9px; 
    line-height: 25px;
    border-radius: 5px 5px 0 0;
}
.card__left .card__top .event__day {
    font-weight: bold;
    font-size: 25px;
}
.event__card .card__left .card__bottom {
    background-color: #002146;
    padding: 9px 9px; 
    color: white;
    border-radius: 0 0 5px 5px;
}
.event__card .card__right {
    float: left;
    width: 75%;
    padding: 10px 40px 2px 0;
}
.event__card .card__right p {
    text-align: justify;
}
.event__card .card__right p, .event__card .card__right ul {
    font-size: 14px;
    list-style: none;
}
.event__card .card__right p {
    margin: 18px 0;
}
.event__card .card__right ul li {
    display: inline;
    color: #00193f;
    font-weight: bold;
}
.post__right .event__1, .event__2 .card__left, .event__2 .card__right {
    background-color: white;
}
.post__right .event__2 {
    margin-top: 15px;
}

/* FOOTER  */
.footer, .footer a {
    background-color: #002146;
    color: white;
}
.footer ul li, .footer .footer__cpr {
    font-size: 14px;
}
.footer__list {
    margin: auto;
    width: 80%;
    padding: 50px 0;
}
.footer__list .footer__item {
    float: left;
    width: 33.33%;
    /* padding: 0 15px; */
}
.footer__item h2 {
    margin-bottom: 15px;
}
.footer__item ul li {
    list-style-type: none;
    margin: 10px 0;
}
.footer__item ul li a {
    text-decoration: none;
}
.footer__item ul li a:hover {
    color: #ffd900;
}
.footer__item ul li i {
    font-size: 10px;
    margin-right: 20px;
    color: #ffd900;
}
.footer .footer__hr {
    margin: 30px 0;
}